@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    var user = Context.User;
}
@if (user.Identity.IsAuthenticated)
{
    if (user.IsInRole("Administrator"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Administrator">
                <i class="fa fa-cogs"></i>
                Управления данными               
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Directories">
                <i class="fa fa-list-alt"></i>
                Справочники
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Administrator">
                <i class="fa fa-users"></i>
                @SharedLocalizer["Administration"]
                <span class="sr-only">(current)</span>
            </a>
        </li>
    }
    if (user.IsInRole("Moderator"))
    {

    }
}


