@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    var user = Context.User;
}
@if (user.Identity.IsAuthenticated)
{
    if (user.IsInRole("Administrator"))
    {
        <li>@Html.ActionLink(SharedLocalizer["Administration"], "Administrator", "Home")</li>
        <li><a asp-area="" asp-controller="Home" asp-action="Directories">Справочники</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Analize">Аналитика</a></li>
    }
    if (user.IsInRole("Moderator"))
    {

    }
}
