@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Administrator"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="alert alert-primary" role="alert">
                <button type="button" class="close" data-dismiss="alert">x</button> <h4 class="alert-heading">Модуль «Администрирование»</h4>
                <hr />
                <div class="d-flex bd-highlight">
                    <div class="flex-grow-1 bd-highlight">
                        <p class="text-info">Модуль  «Администрирование» предназначен для работы с данными о Пользователях, а так же для настройки и администрирования системы.</p>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-exclamation-triangle"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="alert alert-warning" role="alert">
                <strong>Управление ролями пользователей и назначение роли пользователя в приложении:</strong>
                <a class="btn btn-sm btn-outline-primary fa-pull-right" asp-controller="Users" asp-action="Index">Перейти</a>
            </div>
            <div class="alert alert-warning" role="alert">
                <strong>Журнал:</strong>
                <a class="btn btn-sm btn-outline-primary fa-pull-right" asp-controller="Logs" asp-action="Index">Перейти</a>
            </div>
        </div>

    </div>
</div>



<script src="~/lib/aimaraJS-master/lib/Aimara.js"></script>
<link rel="stylesheet" href="~/lib/aimaraJS-master/css/Aimara.css" />
<link rel="stylesheet" href="~/lib/aimaraJS-master/css/Example.css" />


