@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Administrator"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contcentr" style="background:inherit;border:1px solid #fff;padding:5px 10px; margin-right:100px; margin-left:100px;">
    <h3>Модуль «Администрирование»</h3>
    <dl class="admlist">
        <dt>Управление ролями пользователей и назначение роли пользователя в приложении</dt>
        <dd><a class="btn btn-default" asp-controller="Users" asp-action="Index">Перейти</a></dd>
    </dl>

    <dl class="admlist">
        <dt>Журнал</dt>
        <dd><a class="btn btn-default" asp-controller="Logs" asp-action="Index">Перейти</a></dd>
    </dl>

    <dl class="admlist">
        <dt>Скачать снимки MODIS</dt>
        <dd><a class="btn btn-default" asp-controller="GDAL" asp-action="DownloadModis">Перейти</a></dd>
    </dl>

    <dl class="admlist">
        <dt>Скачать снимки MODIS (дельта)</dt>
        <dd><a class="btn btn-default" asp-controller="GDAL" asp-action="DownloadModisDelta">Перейти</a></dd>
    </dl>

    <dl class="admlist">
        <dt>Построение мозайки MODIS</dt>
        <dd><a class="btn btn-default" asp-controller="GDAL" asp-action="ModisMosaic">Перейти</a></dd>
    </dl>

    <dl class="admlist">
        <dt>Перепроецирование MODIS</dt>
        <dd><a class="btn btn-default" asp-controller="GDAL" asp-action="Reproject">Перейти</a></dd>
    </dl>

    <dl class="admlist">
        <dt>Расчет аномалий NDVI</dt>
        <dd><a class="btn btn-default" asp-controller="GDAL" asp-action="ModisAnomaly">Перейти</a></dd>
    </dl>

    <dl class="admlist">
        <dt>Публикация снимка</dt>
        <dd><a class="btn btn-default" asp-controller="GDAL" asp-action="PublishGeoTiff">Перейти</a></dd>
    </dl>
</div>