@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Contact"];
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>@SharedLocalizer["Support"]:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>@SharedLocalizer["Marketing"]:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

<address>
    АО «НЦКИТ» НКА РК<br />
    <br />
    050010, г. Алматы, ул. Шевченко, 15<br />
    тел.: +7 (727) 293 88 23<br />
    факс: +7 (727) 293 88 20<br />
    email: nckit@spaceres.kz<br />
    www.spaceres.kz
</address>