@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["HomePage"];
}


<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Автоматизированная ГИС система</h1>
            <p class="font-weight-lighter lead text-muted">Географические информационные системы (ГИС) — это особый вид информационных систем, предназначенный для хранения и обработки данных, содержащих информацию об участках земной поверхности.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/images/main_01.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">«ГИС «Орошаемых территорий на основе космического мониторинга»</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-primary" asp-controller="OL" asp-action="Irrigation">Перейти</a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Account" asp-action="Login">Регистрация</a>
                                </div>
                                <small class="text-muted">2018-2020гг</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/images/main_02.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">«Создание системы мониторинга и методики прогнозирования вспышек природных биоопасностей и численности вредителей сельскохозяйственных культур на основе данных дистанционного зондирования Земли и геоинформационных технологий,</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-primary" asp-controller="OL" asp-action="Diseases">Перейти</a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Account" asp-action="Login">Регистрация</a>
                                </div>
                                <small class="text-muted">2019-2021гг</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/images/main_03.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">ГИС «Оперативного мониторинга и управления пастбищными ресурсами»</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-primary" asp-controller="OL" asp-action="ViewModis">Перейти</a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Account" asp-action="Login">Регистрация</a>
                                </div>
                                <small class="text-muted">2019-2020гг</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

