@model GeoServer.Models.ZonalStatKATO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>ZonalStatKATO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KATO" class="control-label"></label>
                <input asp-for="KATO" class="form-control" />
                <span asp-validation-for="KATO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayOfYear" class="control-label"></label>
                <input asp-for="DayOfYear" class="form-control" />
                <span asp-validation-for="DayOfYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModisSource" class="control-label"></label>
                <input asp-for="ModisSource" class="form-control" />
                <span asp-validation-for="ModisSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModisProduct" class="control-label"></label>
                <input asp-for="ModisProduct" class="form-control" />
                <span asp-validation-for="ModisProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataSet" class="control-label"></label>
                <input asp-for="DataSet" class="form-control" />
                <span asp-validation-for="DataSet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
