@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container">
        <div class="text-center mt-5 mb-4">
            <img class="mb-4" src="~/images/user.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Manage your account</h1>
            <div class="p-0 flex-grow-1 bd-highlight">
                <p class="lead text-info">Change your account settings</p>
            </div>
        </div>
        <div class="form-signin">
            @await Html.PartialAsync("_ManageNav")
            @RenderBody()
        </div>
    </div>
</div>



@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
