@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["AccessDenied"];
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
