@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer["ConfirmEmail"];
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>
