@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["ForgotPasswordConfirmation"];
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>
