@using GeoServer.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Signedout"];
}

<h2>@ViewData["Title"]</h2>
<p>
    You have successfully signed out.
</p>
